.details {
    display: flex;
    flex-wrap: wrap;
    max-width: 80vw;
    margin-left: 110px;
    background-color: #3b4855;
    border-radius: 8px;
}

.details img {
    width: 40%;
    height: 70vh;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.details .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin-left: 40px;
    color: #fff;
}

.details .container .details-info {
    
    overflow: hidden;
    margin: 20px;
}

.details .container .details-info p {
    
}
.details .details-btn a {
    text-decoration: none;
    color: #fff;
    border: 1px solid green;
    background-color: green;
    padding: 8px;
    border-radius: 8px;
    margin: 12px;
}

.details .details-btn .delete {
    border: 1px solid red;
    background-color: red;
}

.details .details-btn a:hover {
    background-color: transparent;
}

.details .details-btn .comm-btn {
    cursor: pointer;
    color: #fff;
    border: 1px solid rgb(240, 102, 51);
    background-color: rgb(240, 102, 51);
    padding: 8px;
    border-radius: 8px;
    margin: 12px;
}

.details .details-btn .comm-btn:hover {
    background-color: transparent;
}

.no-comm {
    color: #Fff;
    text-align: center;
    letter-spacing: 5px;
}

.like {
    cursor: pointer;
    color: #fff;
    border: 1px solid blue;
    background-color: blue;
    padding: 6px;
    border-radius: 8px;
    margin: 12px;
    font-size: 18px;
}

.like:hover {
    background-color: transparent;
}

.like i {
    margin-left: 6px;
}